*{
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}

nav{
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: fixed;
    width: 100%;

    a{
        padding: 25px 60px;
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 32px;
    }
}

section{
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 72px;

    &:nth-of-type(odd) {
        background: lightblue;
    }
    &:nth-of-type(even) {
        background: pink;
    }

}